In [1]:
import numpy as np
import pandas as pd

### 转置

- `T` 属性

- `DataFrame.transpose()` 方法

In [2]:
rng = np.random.default_rng(42)

df = pd.DataFrame(np.random.randn(10, 4), columns=list("ABCD"))
df

          A         B         C         D
0  2.120803  1.063909  0.794972 -0.417988
1 -0.221716 -0.061619  0.566378  1.654364
2 -0.226721  0.028296 -1.247346  1.013628
3  0.788739  0.259797 -0.350825 -1.014596
4  1.101202 -1.233165  0.132640 -0.342679
5 -0.211534 -0.584532  1.532493 -0.591147
6 -1.293887 -0.897840  0.997611 -2.813411
7 -2.349640  0.511830  0.031288 -3.294149
8 -1.149852  0.826116  1.055350  0.582375
9 -0.374272 -0.680970  1.139896 -0.735922

In [3]:
df.T

,0,1,2,3,4,5,6,7,8,9
A,2.120803,-0.221716,-0.226721,0.788739,1.101202,-0.211534,-1.293887,-2.349640,-1.149852,-0.374272
B,1.063909,-0.061619,0.028296,0.259797,-1.233165,-0.584532,-0.897840,0.511830,0.826116,-0.680970
C,0.794972,0.566378,-1.247346,-0.350825,0.132640,1.532493,0.997611,0.031288,1.055350,1.139896
D,-0.417988,1.654364,1.013628,-1.014596,-0.342679,-0.591147,-2.813411,-3.294149,0.582375,-0.735922

In [4]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9
A,2.120803,-0.221716,-0.226721,0.788739,1.101202,-0.211534,-1.293887,-2.349640,-1.149852,-0.374272
B,1.063909,-0.061619,0.028296,0.259797,-1.233165,-0.584532,-0.897840,0.511830,0.826116,-0.680970
C,0.794972,0.566378,-1.247346,-0.350825,0.132640,1.532493,0.997611,0.031288,1.055350,1.139896
D,-0.417988,1.654364,1.013628,-1.014596,-0.342679,-0.591147,-2.813411,-3.294149,0.582375,-0.735922

In [7]:
df[:5].T

          0         1         2         3         4
A  2.120803 -0.221716 -0.226721  0.788739  1.101202
B  1.063909 -0.061619  0.028296  0.259797 -1.233165
C  0.794972  0.566378 -1.247346 -0.350825  0.132640
D -0.417988  1.654364  1.013628 -1.014596 -0.342679

In [13]:
df[:5].T[:2]

          0         1         2         3         4
A  2.120803 -0.221716 -0.226721  0.788739  1.101202
B  1.063909 -0.061619  0.028296  0.259797 -1.233165