In [32]:
import numpy as np
import pandas as pd

def pprint(*args, names=[]):
    for idx, value in enumerate(args):
        print(f"{idx}.[{names[idx]}] {'-'*50}")
        print(value)
        print()

## 描述性统计

> [Descriptive Statistics](https://pandas.pydata.org/docs/user_guide/basics.html#descriptive-statistics)

用于计算 `Series` 和 `DataFrame` 的描述性统计等操作的方法，接口一个 `axis` 参数。
- `Series` 无 `axis` 参数
- `axis=0` 默认值，axis=index; axis=1 axis=columns

axis

skipna

In [5]:
data = [
    [1.394981, 1.772517, np.nan],
    [0.343054, 1.912123, -0.050390],
    [0.695246, 1.478369, 1.227435],
    [np.nan, 0.279344, -0.613172],
]

df1 = pd.DataFrame(data, index=list("abcd"), columns=["one", "two", "three"])
df1

        one       two     three
a  1.394981  1.772517       NaN
b  0.343054  1.912123 -0.050390
c  0.695246  1.478369  1.227435
d       NaN  0.279344 -0.613172

In [34]:
# sum()
pprint(df1.sum(), df1.sum(axis=0), df1.sum(axis="index"), df1.sum(axis=1), df1.sum(axis="columns"),
       names=["DataFrame.sum()", "DataFrame.sum(axis=0)", "DataFrame.sum(axis='index')", "DataFrame.sum(axis=1)", "DataFrame.sum(axis='columns')"])

0.[DataFrame.sum()] --------------------------------------------------
one      2.433281
two      5.442353
three    0.563873
dtype: float64

1.[DataFrame.sum(axis=0)] --------------------------------------------------
one      2.433281
two      5.442353
three    0.563873
dtype: float64

2.[DataFrame.sum(axis='index')] --------------------------------------------------
one      2.433281
two      5.442353
three    0.563873
dtype: float64

3.[DataFrame.sum(axis=1)] --------------------------------------------------
a    3.167498
b    2.204787
c    3.401050
d   -0.333828
dtype: float64

4.[DataFrame.sum(axis='columns')] --------------------------------------------------
a    3.167498
b    2.204787
c    3.401050
d   -0.333828
dtype: float64

In [36]:
pprint(df1.sum(axis="index", skipna=False), df1.sum(skipna=True), 
       names=["DataFrame.sum(axis='index', skipna=False)", "DataFrame.sum(skipna=True)"])

0.[DataFrame.sum(axis='index', skipna=False)] --------------------------------------------------
one           NaN
two      5.442353
three         NaN
dtype: float64

1.[DataFrame.sum(skipna=True)] --------------------------------------------------
one      2.433281
two      5.442353
three    0.563873
dtype: float64