In [1]:
from utils import pprint_series, pprint_dataframes, pprint_pds

### describe()

In [2]:
import numpy as np
import pandas as pd

In [6]:
s1 = pd.Series(np.random.randn(1000))
s1.iloc[100:200] = np.nan
pprint_pds(s1, s1.describe())

In [9]:
df1 = pd.DataFrame(np.random.randn(1000, 3), columns=list("ABC"))
df1.iloc[::2] = np.nan
pprint_dataframes(df1, df1.describe(), df1.describe(percentiles=[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]))