In [1]:
from utils import pprint_series, pprint_dataframes, pprint_pds

## Descriptive Statistics

> https://pandas.pydata.org/docs/user_guide/basics.html#descriptive-statistics

Series 和 DataFrame 的描述性统计相关操作，都支持 `axis`、`skipna` 和 `level` 这三个参数。

- `axis`   默认值是`0("index")`，可选值是：`Literal[0, 1, "index", "columns"]`
- `skipna` 默认值是`True`

### 归约

|Function           |Desc                    |
|-------------------|------------------------|
|count()            |非 NA 观测值的数量|
|sum()              |值的总和|
|mean()             |值的均值，计算公式是 $\frac{\text{sum()}}{\text{count()}}$|
|prod(min_count=0)  |值的乘积，NA 值会被当做`1.0`，可以通过`min_count=1`参数设置至少有一个非 NA 值，否则返回 NA|
|var(ddof=1)        |方差（variance），按 $\text{count()} - \text{ddof}$ 归一化，计算公式是 $\frac{1}{\text{df.count()} - \text{ddof}}\sum(\text{df} - \text{df.mean()})^2$|
|std(ddof=1)        |标准差（standard deviation），按 $\text{count()} - \text{ddof}$ 归一化，计算公式是 $\sqrt{\text{var(ddof)}}$|
|sem(ddof=1)        |平均值标准误差（standard error of the mean, SEM），按 $\text{count()} - \text{ddof}$ 归一化，计算公式是 $\dfrac{\text{std(ddof)}}{\sqrt{\text{count()}}}$|
|skew()             | |
|kurt()             | |
|quantile(q=0.5)    |分位数值，`q`可以是列表，计算多个分位值|
|median()           |值的算术中位值，等同于`quantile(0.5)`|
|min()              |最小值|
|max()              |最大值|

### 保持形状

|Function           |Desc         |
|-------------------|-------------|
|abs()              |绝对值|
|cumsum()           |累计和|
|cumprod()          |累计积|
|cummax()           |累计最大值|
|cummin()           |累计最小值|


### 数据统计

|Function             |Desc                                                |
|---------------------|----------------------------------------------------|
|mode()               |获取所选轴上的众数，即一组数中出现次数最多的值，可以是多个值|
|nunique(dropna=True) |返回唯一元素的数量，默认排除 NA 值|

In [5]:
import numpy as np
import pandas as pd

In [6]:
s1 = pd.Series([1, 3, 5, 7, 9])
s2 = pd.Series([2, 4, 6, np.nan, 10])

pprint_series(s1, s2)

In [7]:
df1 = pd.DataFrame([[1, 3], [2, 4], [np.nan, np.nan], [7, np.nan], [np.nan, 9]], columns=list("AB"))
df2 = pd.DataFrame([[1, 3, 3], [1, 4, 4], [7, 4, 7], [7, 4, 4]], columns=list("ABC"))

pprint_dataframes(df1, df2)

In [69]:
# count
print(s1.count(), s2.count())
print("-" * 100)
pprint_series(df1.count(axis=0), df1.count(axis=1), df2.count(), df2.count(axis="columns"))

5 4
----------------------------------------------------------------------------------------------------

In [70]:
# sum
print(s1.sum(), s2.sum())
print("-" * 100)
pprint_series(df1.sum(), df1.sum(axis=1), df1.sum(skipna=False), df1.sum(axis=1, skipna=False))

25 22.0
----------------------------------------------------------------------------------------------------

In [71]:
# mean
print(s1.mean(), s1.sum()/s1.count(), "|", s2.mean(), s2.sum()/s2.count())
print("-" * 100)
pprint_series(df1.mean(), df1.sum()/df1.count())
pprint_series(df1.mean(axis="columns"), df1.sum(axis="columns")/df1.count(axis="columns"))

5.0 5.0 | 5.5 5.5
----------------------------------------------------------------------------------------------------

In [83]:
# prod
print(s1.prod(), s2.prod())
print("-" * 100)
pprint_dataframes(df1, df2)
pprint_series(df1.prod(axis=0), df1.prod(axis=1), df1.prod(axis=1, min_count=1))

945 480.0
----------------------------------------------------------------------------------------------------

In [72]:
# median
print(s1.median(), s1.quantile(0.5), s2.median(), s2.quantile(0.5))
print("-" * 100)
pprint_series(df1.median(), df1.median(axis=1))

5.0 5.0 5.0 5.0
----------------------------------------------------------------------------------------------------

In [73]:
# min, max
print(s1.min(), s1.max(), s2.min(), s2.max())
print("-" * 100)
pprint_series(df1.min(), df1.min(axis=1), df1.max(), df1.max(axis=1))

1 9 2.0 10.0
----------------------------------------------------------------------------------------------------

In [75]:
# mode
s3 = pd.Series([1.0, 1.0, 2.0, 3.0])
pprint_series(s3.mode())
pprint_dataframes(df2, df2.mode(axis=0), df2.mode(axis=1))

In [77]:
# abs
df3 = pd.DataFrame([[1, 3, -3.0], [1, np.nan, 4], [-7.0, 4, 7], [np.nan, 4, np.nan]], columns=list("ABC"))
pprint_dataframes(df3, df3.abs())

In [20]:
# var, std
df4 = pd.DataFrame({
    "person_id": [0, 1, 2, 3],
    "age": [21, 25, 62, np.nan],
    "height": [1.61, np.nan, 1.49, 2.01],
}).set_index("person_id")

pprint_pds(df4, df4.mean(), df4 - df4.mean(), np.pow(df4 - df4.mean(), 2), np.pow(df4 - df4.mean(), 2).sum()/(df4.count() - 1), np.pow(df4 - df4.mean(), 2).mean())

pprint_pds(df4, df4.var(), df4.var(ddof=0), df4.var() ** 0.5, df4.var(ddof=0) ** 0.5)

pprint_pds(df4, df4.std(), df4.std(ddof=0))

In [29]:
import math
s3 = pd.Series([1, 2, 3])
pprint_series(s3)
s3.std() / math.sqrt(s3.count()), s3.sem(), s3.std(ddof=0) / math.sqrt(s3.count()), s3.sem(ddof=0)

(np.float64(0.5773502691896258),
 np.float64(0.5773502691896258),
 np.float64(0.47140452079103173),
 np.float64(0.47140452079103173))

In [35]:
pprint_series(s1, s1.cumsum(), s2, s2.cumsum())
pprint_dataframes(df1, df1.cumsum(), df1.cumsum(axis="columns"))

In [37]:
pprint_series(s1, s1.cumprod(), s2, s2.cumprod())
pprint_dataframes(df1, df1.cumprod())

In [39]:
pprint_pds(s1, df1)

In [43]:
s1.nunique(), df1.nunique(dropna=False), df1.nunique(axis=1)

(5,
 A    4
 B    4
 dtype: int64,
 0    2
 1    2
 2    0
 3    1
 4    1
 dtype: int64)