`Series`和`DataFrame`有默认的从0开始的隐式索引，也可以通过index属性设置显式索引

loc 和 iloc 属性可以指定使用 标签索引 和 整数索引

align the data based on label  基于标签的自动对齐

未对齐的 Series 之间的操作结果将是所涉及索引的并集。如果在某个 Series 或另一个 Series 中找不到标签，则结果将被标记为缺失 NA。

总体而言，我们选择将不同索引对象之间的运算默认结果设置为索引的并集，以避免信息丢失。

DataFrame 对象之间的数据对齐会自动在列和索引（行标签）上对齐。同样，生成的对象将具有列标签和行标签的并集。

In [1]:
import numpy as np
import pandas as pd
from utils import pprint_pandas

In [4]:
s1 = pd.Series(["hello", "hi", "hey"], index=list("abc"))
s2 = pd.Series([" world"], index=["a"])
pprint_pandas(s1, s2, s1+s2, pd.DataFrame(np.random.randn(10, 4)))